.container-fluid
  .row
    .main_menu
      .logo
        [LOGO HERE]
      %ul
        %li
          = link_to t('adminka.main_menu.lists'), adminka_product_lists_path
        %li
          = link_to t('adminka.main_menu.products'), adminka_products_path
        %li
          = link_to t('adminka.main_menu.logout'), destroy_user_session_path, method: :delete
