.page-wrapper
  .empty
  .message
    .head
      =image_tag('logo.png')
    .text Мы помним для Вас о важном!
    .link= link_to 'Войти', adminka_root_path, 'data-turbolinks': 'false', class: 'static-link'